<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NoteViewMapper">
    
    <resultMap type="NoteView" id="NoteViewResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="hiddenFields"    column="hiddenFields"    />
        <result property="property"    column="property"    />
        <result property="dwtableId"    column="dwtableId"    />
    </resultMap>

    <sql id="selectNoteViewVo">
        select id, name, type, hiddenFields, property, dwtableId from note_view
    </sql>

    <select id="selectNoteViewList" parameterType="NoteView" resultMap="NoteViewResult">
        <include refid="selectNoteViewVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="hiddenFields != null  and hiddenFields != ''"> and hiddenFields = #{hiddenFields}</if>
            <if test="dwtableId != null "> and dwtableId = #{dwtableId}</if>
        </where>
    </select>
    
    <select id="selectNoteViewById" parameterType="Long" resultMap="NoteViewResult">
        <include refid="selectNoteViewVo"/>
        where id = #{id}
    </select>

    <select id="selectNoteViewListByDwtableId" parameterType="Long" resultMap="NoteViewResult">
        <include refid="selectNoteViewVo"/>
        where dwtableId = #{dwtableId}
    </select>
        
    <insert id="insertNoteView" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="NoteView">
        insert into note_view
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="hiddenFields != null">hiddenFields,</if>
            <if test="property != null">property,</if>
            <if test="dwtableId != null">dwtableId,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="hiddenFields != null">#{hiddenFields},</if>
            <if test="property != null">#{property},</if>
            <if test="dwtableId != null">#{dwtableId},</if>
         </trim>
    </insert>

    <update id="updateNoteView" parameterType="NoteView">
        update note_view
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="hiddenFields != null">hiddenFields = #{hiddenFields},</if>
            <if test="property != null">property = #{property},</if>
            <if test="dwtableId != null">dwtableId = #{dwtableId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNoteViewById" parameterType="Long">
        delete from note_view where id = #{id}
    </delete>

    <delete id="deleteNoteViewByDwtableId" parameterType="Long">
        delete from note_view where dwtableId = #{dwtableId}
    </delete>

    <delete id="removeAll" >
        delete from note_view where 1=1
    </delete>


    <delete id="deleteNoteViewByIds" parameterType="String">
        delete from note_view where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>