<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NoteRoleDeptMapper">
    
    <resultMap type="NoteRoleDept" id="NoteRoleDeptResult">
        <result property="roleId"    column="role_id"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectNoteRoleDeptVo">
        select role_id, dept_id from note_role_dept
    </sql>

    <select id="selectNoteRoleDeptList" parameterType="NoteRoleDept" resultMap="NoteRoleDeptResult">
        <include refid="selectNoteRoleDeptVo"/>
    </select>

    <select id="selectNoteRoleDeptByRoleId" resultType="Long">
        select d.dept_id
        from sys_dept d
        left join note_role_dept rd on d.dept_id = rd.dept_id
        where rd.role_id = #{roleId}
        <if test="deptCheckStrictly = 1">
            and d.dept_id not in (select d.parent_id from sys_dept d inner join note_role_dept rd on d.dept_id = rd.dept_id and rd.role_id = #{roleId})
        </if>
        order by d.parent_id, d.order_num
    </select>


    <insert id="insertNoteRoleDept" parameterType="NoteRoleDept">
        insert into note_role_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateNoteRoleDept" parameterType="NoteRoleDept">
        update note_role_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where role_id = #{roleId}
    </update>

    <delete id="deleteNoteRoleDeptByRoleId" parameterType="Long">
        delete from note_role_dept where role_id = #{roleId}
    </delete>

    <delete id="deleteNoteRoleDeptByRoleIds" parameterType="String">
        delete from note_role_dept where role_id in 
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <insert id="batchNoteRoleDept">
        insert into note_role_dept(role_id, dept_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.roleId},#{item.deptId})
        </foreach>
    </insert>
</mapper>