.ce-block-base-table-wrapper {
    height: 500px;
    min-height: 500px;
    border: 1px solid #f0f0f0;
    padding: 5px;
}

table {
    width: 90%;
    border-spacing: 0;
    word-break: break-word;
    cursor: text;
    table-layout: fixed;
    position: relative;

    td {
        margin: 0;
        padding: 0;
        border: 1px solid #dee0e3;
        vertical-align: top;
        overflow: hidden;
        display: table-cell;
        outline: none;
    }
}