
:root {
  --np-bg-color: #f0f2f5;
  --np-bg-color-overlay: #ffffff;
  --np-border-radius: 5px;
  --np-box-shadow: 0px 0px 12px rgba(0, 0, 0, .2);
  --np-line-border: #dee0e3;
  --np-y-500: #ffc60a;
  --np-line-boder-card:#dee0e3;
}

/* theme color */
$--color-primary: #1890ff;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;
$--color-info: #1E1E1E;

$--button-font-weight: 400;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border: 1px solid #dfe6ec;
